-r requirements.txt
nose
coverage
mock
PIL

# for testing migrations:
git+https://github.com/HonzaKral/django-threadedcomments.git#egg=django-threadedcomments
git+https://github.com/ella/ella-comments.git#egg=ella-comments
